[user]
  name = Rogério Zambon
  email = rogeriozambon@gmail.com

[push]
  default = current

[alias]
  l = log --graph --pretty=format':%C(yellow)%h%Cblue%d%Creset %s %C(white) %an, %ar%Creset'
  lg = log --pretty=oneline --abbrev-commit --graph --decorate --date=relative
  rank = shortlog -sn

[apply]
  whitespace = warn

[color]
  diff = auto
  status = auto
  branch = auto
  interactive = auto
  grep = auto
  ui = true

[help]
  autocorrect = 1

[status]
  submodule = 1

[core]
  editor = vim
